<span class="category-row">{{ challenge().category }}</span>

<div class="name-row">
  <div class="dot"></div>
  <span class="name">{{ challenge().name }}</span>
  <difficulty-stars [difficulty]="challenge().difficulty"
    aria-label="Difficulty {{ challenge().difficulty }} of 6"></difficulty-stars>
</div>
<div class="description-row" [innerHtml]="challenge().description" (click)="copyPayload($event)"></div>
<div class="bottom-row">
  <div class="tags">
    @for (tag of challenge().tagList; track tag) {
      @if (tag?.startsWith('Requires ')) {
        @if (isDependencyMissing(tag)) {
          <a class="tag tag-missing-dependency" [href]="getDependencyDocumentation(tag)" target="_blank" [matTooltip]="('TAG_EXTERNAL_DEPENDENCY_DESCRIPTION' | translate) + '\n\n' + ('TAG_EXTERNAL_DEPENDENCY_MISSING' | translate:{ dependency: getDependency(tag)?.key })" matTooltipClass="multiline-tooltip"><mat-icon class="dependency-icon">extension_off</mat-icon>{{ 'TAG_EXTERNAL_DEPENDENCY' | translate:{ dependency: tag?.substring('Requires '.length) } }}</a>
        } @else {
          <span class="tag tag-available-dependency" [matTooltip]="('TAG_EXTERNAL_DEPENDENCY_DESCRIPTION' | translate) + '\n\n' + ('TAG_EXTERNAL_DEPENDENCY_PRESENT' | translate:{ dependency: getDependency(tag)?.key })" matTooltipClass="multiline-tooltip"><mat-icon class="dependency-icon">extension</mat-icon>{{ 'TAG_EXTERNAL_DEPENDENCY' | translate:{ dependency: tag?.substring('Requires '.length) } }}</span>
        }
      } @else {
        <span class="tag" [matTooltip]="'TAG_' + tag?.toUpperCase().split(' ').join('_') + '_DESCRIPTION' | translate">{{ ('TAG_' + tag?.toUpperCase().split(' ').join('_')) | translate }}</span>
      }
    }
  </div>
  <div class="badge-group">
    <!-- info text if the challenge is unavailable -->
    @if (challenge().disabledEnv !== null && challenge().disabledEnv !== 'safetyMode') {
    <button class="badge" [matTooltip]="'CHALLENGE_UNAVAILABLE' | translate:{ env: challenge().disabledEnv }">
      <mat-icon [style.color]="'var(--theme-warn)'">info_outline</mat-icon>
    </button>
    }
    @if (challenge().disabledEnv === 'safetyMode') {
    <button class="badge" [matTooltip]="'CHALLENGE_UNAVAILABLE_SAFETYMODE'| translate:{ env: challenge().disabledEnv}">
      <mat-icon [style.color]="'var(--theme-warn)'">info_outline</mat-icon>
    </button>
    }
    <!-- hacking instructor-->
    @if (applicationConfiguration().hackingInstructor.isEnabled && hasInstructions(challenge().name)) {
    <button class="badge not-completable" [matTooltip]="'INFO_HACKING_INSTRUCTOR' | translate"
      (click)="startHackingInstructorFor(challenge().name)">
      <mat-icon>school_outline</mat-icon>
    </button>
    }
  </div>
</div>
